.bg-dishes {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/image/css_sprites.png") -10px -10px;
}

.bg-landing {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/image/css_sprites.png") -130px -10px;
}

.bg-rocketship {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/image/css_sprites.png") -250px -10px;
}

.bg-ufo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/image/css_sprites.png") -370px -10px;
}

.bg-saturn {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("../images/image/css_sprites.png") -490px -10px;
}

.meal {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
